p
{
    color: aquamarine;
    background-color: black;
    opacity: 0.1;
}
.one{
    width: 1500px;
    height: 400px;
    color:blue;
    background-image: url(https://cdn.pixabay.com/photo/2014/12/22/00/07/tree-576847__480.png);
    
}

.two{
    width:1500px;
    height: 600px;
    color: black;
    background-image: url(https://cdn.pixabay.com/photo/2014/12/22/00/07/tree-576847__480.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.three{
    width: 2000px;
    height: 400px;
    color: red;
    background-image: url(https://cdn.pixabay.com/photo/2014/12/22/00/07/tree-576847__480.png);
    background-repeat: no-repeat;
}